* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family :system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    z-index: 0;
}


body {
    height: 130vh;
    background-color: #000;
    background-image: url("https://images.unsplash.com/photo-1485470733090-0aae1788d5af?ixlib=rb-4.0.3&ixid=mnwxmja3fdb8mhxwag90by1wywd1fhx8fgvufdb8fgx8&auto=format&fit=crop&w=1517&q=80");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    size: 1rem;
}

a:hover {
    color: orange;
}

/* header */
header {
    position: sticky;
    top:2px;
    padding: 0 2rem;
    background-color: transparent;
    backdrop-filter: blur(80px);
    z-index: 1;
}

.navbar {
 width: 100%;
height: 60px;
max-width: 1200px;
margin: 0 auto;
display: flex;
align-items: center;
justify-content: space-between;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 4rem;
}

.navbar .toggle_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display:none;
}
.action-btn{
    background-color: orange;
    color :#fff;
    padding :0.5rem 1rem;
    border:none;
    outline:none;
    border-radius:20px;
    font-size:0.8rem;
    font-weight: bold;
    cursor:pointer;
    transition: scale 0.2 ease;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0008);
}
.action-btn:hover{
    scale:1.06;
    color:#fff;
}
.action-btn:active {
    scale :0.95;
}

/* DROPDOWN MENU */

.dropdown_menu {
    display:none;
    position: absolute;
    right: 2rem;
    top:60px;
    height: 0;
    width :300px;
    background: rgba(0, 0, 0,0.8);
    backdrop-filter: blur(100px);
    border-radius :10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 1;
}
.dropdown_menu.open{
    height: 280px;
    z-index: 1;
}
.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content:center;
    z-index: 1;
}

.dropdown_menu .action-btn{
    width :100%;
    display: flex;
    justify-content: center;
    z-index: 1;
}

/* RESPONSIVE DESIGN */

@media (max-width:992px){
    .navbar .links,
    .navbar .action-btn{
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }
    .dropdown_menu{
        display: block;
    }
}

@media (max-width:576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
}



 section#hero{
    height:calc(100vh-60px);
    display :flex;
    flex-direction:column;
    justify-content: center;
    text-align: center;
    color :#fff;

}
#hero h1 {
    text-shadow :
     0 0 10px rgb(28, 185, 135), 
     0 0 20px rgb(28, 185, 135),
     0 0 40px rgb(28, 185, 135),
     0 0 80px rgb(28, 185, 135),
     0 0 160px rgb(28, 185, 135);
    font-size : 2rem;
    margin-top : 6rem;
    font-family: "pacifico";

}
#hero p{
    font-size:15px;
    font-family: "Playwrite GB S", cursive;
    text-shadow: 6px 6px 6px rgb(28, 185, 135);
}
section#search{
    height:calac(100vh-120px);
    width: 30vw;
    display:flex;
    position :relative;
    left :35vw;
}
.search{
    z-index: 99;
    width:35vw;
    outline:none;
    border:none;
    border-radius:30px;
    height:40px;
    text-align: center;
    font-size: 20px;
    background-color:rgba(255,255,255, 0.4);
    margin :20px auto;
}
.search:focus{
    color:whitesmoke;
    border: 2px solid orange;
}
.buttun{
    z-index: 0;
    width:6rem;
    height:40px;
    border :none;
    border-radius:30px;
    margin:20px auto;
    margin-left:1px;
    color:#fff;
    background-color:orange;
    cursor:pointer;
    box-shadow: 3px 4px 3px black;
    outline: none;
}
.buttun:hover{
    scale: 1.05;
}
.buttun:active{
    scale: 0.95;
}
footer p{
    color:#fff;
    font-size:18px;
    font-family: "Playwrite GB S", cursive;
    text-shadow:3px 6px 3px rgb(9,154,109,1);
    text-align: center;
    position:relative;
    top:300px;
}
                    
/* LOGIN */

.container-login{
    width:26vw;
    height: 40vw;
    margin:6vw;
    border :2px solid rgb(244, 234, 234);
    border-bottom-left-radius:  100px;
    border-top-right-radius:  100px;
    background-color: transparent;
    backdrop-filter: blur(20px);
}
.login-title{
    padding: 2vw;
    margin: 2vw;
    text-align: center;
    color:orange;
    font-size: 3.5vw;

}

.container-login .input{
    border-bottom:2px solid rgb(252, 252, 252);
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    background-color :transparent;
    width: 22vw;
    padding: 0.7vw;
    display: flex;
    margin: 2vw auto;
    color:rgb(255, 255, 255);
}
.button-login{
    width: 22vw;
    height: 3vw;
    margin: 2vw;
    outline:none;
    border: 1px solid transparent;
    border-radius: 30px;
    background-color: orange;
}
.button-login:hover{
    scale: 1.05;
    box-shadow :
    0 0 10px rgb(28, 185, 135), 
    0 0 20px rgb(28, 185, 135),
    0 0 40px rgb(28, 185, 135),
    0 0 80px rgb(28, 185, 135),
    0 0 160px rgb(28, 185, 135);
}
.button-login:active{
    scale: 0.95;
}
                   /* POAM */

.poam{
    width: 45vw;
    height: 22vw;
    padding: 3vw ;
    font-size: 1.9vw;
    color: white;
    border:2px solid rgb(248, 247, 247);
    border-radius: 40px;
    backdrop-filter:blur(10px);
    position: absolute;
    right: 4vw;
    top:20vw;
} 
.poam:hover{
    box-shadow :
    0 0 10px rgb(28, 185, 135), 
    0 0 20px rgb(28, 185, 135),
    0 0 40px rgb(28, 185, 135),
    0 0 80px rgb(28, 185, 135),
    0 0 160px rgb(28, 185, 135);
}
.poam p{
    font-family: "Playwrite GB S", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color:rgb(0, 0, 0);
  text-shadow: 1px 1px 6px wheat;
}
