* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    height: 100vh;
    background-color: #000;
    background-image: url("https://images.unsplash.com/photo-1485470733090-0aae1788d5af?ixlib=rb-4.0.3&ixid=mnwxmja3fdb8mhxwag90by1wywd1fhx8fgvufdb8fgx8&auto=format&fit=crop&w=1517&q=80");
    background-size: cover;
    background-reapet:no-reapet;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    size: 1rem;
}

a:hover {
    color: orange;
}

/* header */
header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
 width: 100%;
height: 60px;
max-width: 1200px;
margin: 0 auto;
display: flex;
align-items: center;
justify-content: space-between;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 5rem;
    font-weight: bold;
}

.navbar .toggle_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action-btn {
    background-color: orange;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0008);
}

.action-btn:hover {
    scale: 1.05;
    color: #fff;
}
section#hero{
    height:calc(100vh-60px);
    display :flex;
    flex-direction:column;
    justify-content: center;
    text-align: center;
    color :#fff;

}
#hero h1 {
    text-shadow: 4px 6px 4px rgb(9,154,109,1);
    font-size : 3rem;
    margin-top : 6rem;
    font-family: "pacifico";

}
#hero p{
    font-size:20px;
    font-family: "Playwrite GB S", cursive;
}
section#search{
    height:calac(100vh-120px);
    width: 50vw;
    display:flex;
    position :relative;
    left :25vw;
}
.search{
    width:35vw;
    border:none;
    border-radius:30px;
    height:40px;
    text-align: center;
    font-size: 20px;
    background-color:rgba(255,255,255, 0.4);
    margin :20px auto;
}
.buttun{
    width:6rem;
    height:40px;
    border :none;
    border-radius:30px;
    margin:20px auto;
    margin-left:1px;
    color:#fff;
    background-color:orange;
    cursor:pointer;
    box-shadow: 3px 4px 3px black;
}
footer p{
    color:#fff;
    font-size:18px;
    font-family: "Playwrite GB S", cursive;
    text-shadow:3px 6px 3px rgb(9,154,109,1);
    text-align: center;
    position:relative;
    top:300px;
}

